{% extends "app_usuarios/template.html" %}
{% block titulo %}Reestablecimiento de contraseña{% endblock titulo%}

{%block herramientas %}
  <div id ="herramientas">
  </div>
{% endblock herramientas %}
{% block cuerpo %}

  {% if validlink %}
    <p>Por favor introduzca una nueva clave.</p>
    <form action="" method="post">
      <table>
        <tr>
          <td>{{ form.new_password1.errors }}<label for="id_new_password1">Nueva clave:</label></td>
          <td>{{ form.new_password1 }}</td>
        </tr>
        <tr>
          <td>{{ form.new_password2.errors }}<label for="id_new_password2">Repita su clave:</label></td>
          <td>{{ form.new_password2 }}</td>
        </tr>
        <tr>
          <td></td>
          <td><input type="submit" value="Change my password" /></td>
        </tr>
      </table>
    </form>
  {% else %}
    <h1>Reestablecimiento de clave no exitoso</h1>
    <p>El link para resetear la clave es inválido es posible que ya haya sido usado.</p>
  {% endif %}
{% endblock %}
