{% extends "app_usuarios/template.html" %}
{% block titulo %}Reestablecimiento de clave{% endblock titulo %}

{% block herramientas %}
<div id="herramientas">
</div>
{% endblock herramientas %}
{% block cuerpo %}
  <p>¿Olvido su clave? Introduzca su direccion de correo y le enviaremos un correo con instrucciones para recuperar su clave</p>

  <form action="" method="post">
    {% csrf_token %}
    {{ form.email.errors }}
    <p><label for="id_email">Direccion de correo:</label> {{ form.email }} <input type="submit" value="Reestablecer mi contrasena" /></p>
  </form>
{% endblock %}
