{% extends "app_usuarios/template.html" %}
{% load staticfiles %}
{% block titulo %}Reestablecimiento de clave{% endblock titulo %}
{% block css %}
<link href="{% static "css/inicio_style.css" %}" rel="stylesheet" type="text/css"/>
<link href="{% static "css/recuperar_styling.css" %}" rel="stylesheet" type="text/css"/>
{% endblock css %}
{% block rightHeader %}
<a style="color:white;"href="{% url "login_usuario" %}">
  <div id="nombre">Volver</div>
</a>
{% endblock rightHeader %}
{% block herramientas %}
<div id="herramientas">
</div>
{% endblock herramientas %}

{% block cuerpo %}
<center>
  <div id="recuperarBox" > 
    <form action="" id="loginForm" method="post">  

      <form action="" method="post">
        {% csrf_token %}
        {{ form.email.errors }}
        <fieldset id="body">
         
          <p>¿Olvidó su clave? Introduzca su dirección de correo</p> 
          <p><label for="id_email">Dirección de correo</label> {{ form.email }} <input type="submit" id="botonReestablecer" value="Reestablecer mi contraseña" /></p>
        </fieldset>
      </form>
    </form>
  </div>
</center>
{% endblock %}
