<!--Template que se muestra luego de haber enviado el correo de solicitud de cambio de contrasena-->
{% extends "app_usuarios/template.html" %}
{% load staticfiles %}

{% block titulo %}Reestablecimiento de clave exitoso{% endblock %}
{% block css %}
<link href="{% static "css/inicio_style.css" %}" rel="stylesheet" type="text/css"/>
<link href="{% static "css/recuperar_styling.css" %}" rel="stylesheet" type="text/css"/>
{% endblock css %}
{%block herramientas%}
<div id="herramientas">
</div>
{%endblock herramientas%}

{% block cuerpo %}
<center>

	<form action="" id="recuperarDoneForm" method="post">
		<fieldset id="body">
			<p>Le hemos enviado un link para reestablecer su clave a la direccion de correo que suministro </p>
			<span><a id="botonInicio" href="{% url "login_usuario" %}">Volver a pagina de inicio</a></span>
		</fieldset>
	</form>

</center>

{% endblock cuerpo %}
