{% extends "app_usuarios/template.html" %}
{% block titulo %}Reestablecimiento de contrasena{% endblock %}

{%block herramientas %}
  <div id ="herramientas">
  </div>
{% endblock herramientas %}

{% block cuerpo %}

  {% if validlink %}
    <p>Por favor introduzca su nueva clave</p>
    <form action="" method="post">
      {% csrf_token %}
      <table>
        <tr>
          <td>{{ form.new_password1.errors }}<label for="id_new_password1">Introduzca su nueva clave:</label></td>
          <td>{{ form.new_password1 }}</td>
        </tr>
        <tr>
          <td>{{ form.new_password2.errors }}<label for="id_new_password2">Confirme su clave:</label></td>
          <td>{{ form.new_password2 }}</td>
        </tr>
        <tr>
          <td></td>
          <td><input type="submit" value="Cambiar contrasena" /></td>
        </tr>
      </table>
    </form>
  {% else %}
    <h1>No se pudo cambiar la contrasena</h1>
    <p>El link de reestablecimiento de clave es incorrecto o puede que ya haya sido utilizado. Por favor solicite un nuevo link</p>
  {% endif %}
{% endblock %}
