{% extends "app_usuarios/template.html" %}
{% load staticfiles %}

{% block titulo %}Reestablecimiento de contrasena{% endblock %}
{% block css %}
<link href="{% static "css/inicio_style.css" %}" rel="stylesheet" type="text/css"/>
<link href="{% static "css/recuperar_styling.css" %}" rel="stylesheet" type="text/css"/>
{% endblock css %}
{%block herramientas %}
<div id ="herramientas">
</div>
{% endblock herramientas %}

{% block cuerpo %}

{% if validlink %}

<center>

  <form action="" id="recuperarForm" method="post">
    <fieldset id="body">
      <p>Por favor introduzca su nueva clave</p>
      <form action="loginForm" method="post">
        {% csrf_token %}
        <table>
          <tr>
            <td>{{ form.new_password1.errors }}<label for="id_new_password1">Introduzca su nueva clave:</label></td>
            <td>{{ form.new_password1 }}</td>
          </tr>
          <tr>
            <td>{{ form.new_password2.errors }}<label for="id_new_password2">Confirme su clave:</label></td>
            <td>{{ form.new_password2 }}</td>
          </tr>
          <tr>
            <td></td>
            <td><input type="submit" value="Cambiar contrasena" /></td>
          </tr>
        </table>
      </form>
    </fieldset>
  </form>
</center>
{% else %}
<center>
  <div id="recuperarBox">
    <form action="" id="loginForm" method="post">  
      <fieldset id="body">
        <p>El link de reestablecimiento de clave es incorrecto o puede que ya haya sido utilizado. Por favor solicite un nuevo link</p>
      </fieldset>
    </form>
  </div>
</center>
{% endif %}
{% endblock %}
