{% extends "app_usuarios/base.html" %}
{% load url from future }
{% load staticfiles %}
{% block titulo %}Listar Pizarra{% endblock titulo %}
<link href="{% static "css/pared_style.css" %}" rel="stylesheet" type="text/css"/>
{% block cuerpo %}
{% if not lista %}
<center>
  <p>No hay pizarras</p>
</center>
{% endif %}
<script>
  function divSubmit(div){
    lista = div.getElementsByTagName("form");
    for (var i = 0; i<lista.length; ++i){
      var elem = lista[i]
      if (elem.id == "visualizarPizarra")
        elem.submit();
    }
  }
</script>
<table>
  {% for object in lista%}
    {% if forloop.counter0|divisibleby:"3"%}
      <tr>
    {% endif %}
    <td>
      <div class="pizarra" onclick="divSubmit(this)" >
        <div id="pizHead">
          <form id="visualizarPizarra" action="{% url app_pizarras:visualizar_pizarra %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="idpiz" value="{{object.idpiz}}"/>
          </form>
          {{object.nombrepiz}}
          <form action="{% url app_pizarras:eliminar_pizarra %}" method="post" onsubmit="confirmacionBorrar()">
            {% csrf_token %}
            <input type="hidden" name="idpiz" value="{{object.idpiz}}"/>
            <input class="borrar" type="submit" value=""/>
          </form>
          <form action="{% url app_pizarras:modificar_form %}" method="post" >
            {% csrf_token %}
            <input type="hidden" name="idpiz" value="{{object.idpiz}}"/>
            <input type="hidden" name="nombrepiz" value="{{object.nombrepiz}}"/>
            <input type="hidden" name="descripcionpiz" value="{{object.descripcionpiz}}"/>
            <input type="hidden" name="fechafinal" value="{{object.fechafinal}}"/>
            <input class="modi" type="submit" value=""/>
          </form>
        </div>
        <div id="pizCont">
          {{object.descripcionpiz}}
        </div>
      </div>
    </td>
    {% if forloop.counter|divisibleby:"3"%}
    </tr>
  {% endif %}
  {% endfor %}
</table>
<script>
  function confirmacionBorrar() {
    var r=confirm("¿Está seguro de que desea eliminar esta pizarra?");
    if (!r)
      window.location = "http://127.0.0.1:8000/pizarras/listar_pizarra/";
    }
  </script>
{% endblock cuerpo %}
