<script type="text/javascript">
  $(function() {    
    $("#id_fecha_inicio input").datepicker({
        changeMonth: true,
        changeYear: true
    });

    $( "#id_fecha_inicio input" ).datepicker(
      "option", "dateFormat", "dd/mm/yy" 
    );

    $( "#id_fecha_inicio input" ).datepicker({
        dayNamesMin: [ "Dom", "Lun", "Mar", "Mie", "Juev", "Vier", "Sab" ] 
    });   

    var dayNamesMin = $( "#id_fecha_inicio input" ).datepicker( "option", "dayNames" );
    $( "#id_fecha_inicio input" ).datepicker( 
      "option", "dayNamesMin", [ "Dom", "Lun", "Mar", "Mie", "Juev", "Vier", "Sab" ] 
    );

    $( "#id_fecha_inicio input" ).datepicker( "option", "yearRange", "1970:2012" );
  })  
</script>
{% load i18n %}
<div id="errores_crear_pizarra" class="errores">
  *Todos los campos son requeridos
</div>
<form action="{% url app_pizarras:crear_pizarra %}" id="pizarraForm" method="post">
  {% csrf_token %}
  <fieldset  id="body">
    {{ form.as_p }}
  </fieldset>
</form>
