{% extends "app_usuarios/template.html" %}
{% load url from future 
{% load staticfiles %}
{% load dajaxice_templatetags %}
{% block titulo %}Pared{% endblock titulo %}
{% block css %}
<link href="{% static "css/pared_style.css" %}" rel="stylesheet" type="text/css"/>
{% endblock css %}

{% block cuerpo %}
{% if not lista %}
<div id="noElems">No hay pizarras.</div>
{% endif %}
<script type="text/javascript" src="{% static "javascript/jquery.paginatetable.js" %}"></script>
    <script src="../../javascript/jquery.min.js"></script>
    <script>
        $(document).ready(function(){

            $(".detalles").hide();
            $(".mostrar").hover(function(){
                $(this).siblings('.detalles').toggle();

            });
        });
    </script>
    <script>
        $(document).ready(function(){
        });
    </script>
<script>
function divSubmit(div){
  lista = div.getElementsByTagName("form");
  for (var i = 0; i<lista.length; ++i){
    var elem = lista[i]
    if (elem.id == "visualizarPizarra")
      elem.submit();
  }
}

$(document).ready(function () {
  $('#pared').paginateTable({ rowsPerPage: 3 });

  $(".pizarra").click(function(e) {
    if (e.target.id != "modi") {
      divSubmit(this);
    }
  });
});
</script>
<table id="pared">
  <tbody>
    {% for object in lista%}
    {% if forloop.counter0|divisibleby:"2"%}
    <tr>
      {% endif %}
      <td>
          <span class="mostrar">Mostrar Detalles</span>
	        <span class="detalles"> <br/>Creador: "{{object.logindueno.first_name}}  {{object.logindueno.last_name}}"<br/>
			Fecha: "{{object.fechacreacion}} - {{object.fechafinal}}" <br/>
			Participantes:
                {% for key, values in colaboradores.items %}
                {% ifequal key object.idpiz %}
                    <ul>
                        {% for num in values %}
                            <li>{{ num }}</li>
                        {% endfor %}
                    </ul>
                {%endifequal%}
                {% endfor %}

		</span>
        <div class="pizarra">
          <div id="cabeza">
            <div id="titulo">
              {{object.nombrepiz}}
            </div>
            <form action="{% url app_pizarras:eliminar_pizarra %}" method="post" onsubmit="if(!confirm('Seguro desea eliminar esta pizarra?')) return false" style="width: 25px;float: right;">
              {% csrf_token %}
              <input type="hidden" name="idpiz" value="{{object.idpiz}}"/>
              <input class="borrar" type="submit" value=""/>
            </form>
            <form action="{% url app_pizarras:modificar_form %}" onsubmit="return false;" method="post" style="width: 25px;float: right;">
              {% csrf_token %}
              <button type="submit" class="modi" id="modi" onclick="Dajaxice.app_pizarras.modificarPizarraAjax(my_js_callbackModificarPizarra, {'id_pizarra' : {{object.idpiz}}}); return false;"></button>
            </form>
            <form id="visualizarPizarra" action="{% url app_pizarras:visualizar_pizarra %}" method="post">
              {% csrf_token %}
              <input type="hidden" name="idpiz" value="{{object.idpiz}}"/>  
            </form>  
          </div>
          <div id="content">
            {{object.descripcionpiz}}<br><br>
          </div>
            </div>
        </div>
      </td>
      {% if forloop.counter|divisibleby:"2"%}
    </tr>
    {% endif %}
    {% endfor %}
  </tbody>
  <div class='pager'>
    <a href='#' alt='Previous' class='prevPage'><img src="{% static "images/leftArrow.png" %}" style="height: 30px"/></a>
    <a href='#' alt='Next' class='nextPage'><img src="{% static "images/rightArrow.png" %}" style="height: 30px"/></a>
  </div>
</table>
{% endblock cuerpo %}
