<script type="text/javascript">
  $(function() {    
    $("#id_fecha_final").datepicker({
        changeMonth: true,
        changeYear: true
    });

    $( "#id_fecha_final" ).datepicker(
      "option", "dateFormat", "dd/mm/yy" 
    );

    $( "#id_fecha_final" ).datepicker({
        dayNamesMin: [ "Dom", "Lun", "Mar", "Mie", "Juev", "Vier", "Sab" ] 
    });   

    var dayNamesMin = $( "#id_fecha_final" ).datepicker( "option", "dayNames" );
    $( "#id_fecha_final" ).datepicker( 
      "option", "dayNamesMin", [ "Dom", "Lun", "Mar", "Mie", "Juev", "Vier", "Sab" ] 
    );

    $( "#id_fecha_final" ).datepicker( "option", "yearRange", "1970:2012" );
  });
</script>
<div id="errores_modificar_pizarra" class="errores"/>
<form id="modificarPizarraForm" action="{% url app_pizarras:modificar_pizarra %}" method="post">
  {% csrf_token %}
  <fieldset id="body">
    <input type="hidden" name="idpiz" value="{{id_pizarra}}" />
    <fieldset>
      <label for="nombrepiz">Nombre Pizarra</label>
      <input type="text" name="nombre" id="id_nombre" value="{{lista.0}}"/>
    </fieldset>
    <fieldset>
      <label for="descripcion">Descripción Pizarra</label>
      <textarea class="input-large" rows= "5" type="text" name="descripcion" id="id_descripcion">{{lista.1}} </textarea>
    </fieldset>
    <fieldset>
      <div>Fecha de Creacion</div>
      <div>{{ lista.2 }}</div>
      <input type="hidden" name="fecha_creacion" id="id_fecha_creacion" value="{{ lista.2 }}"/>
    </fieldset>
    <fieldset>
      <label for="fechafinal">Fecha de Finalización</label>
      <input type="text" name="fecha_final" id="id_fecha_final" value="{{ lista.3 }}"/>
    </fieldset>
  </fieldset>
</form>
