{% extends "app_usuarios/template.html" %}
{% load url from future %}
{% load staticfiles %}
{% block titulo %}Pizarra "{{pizarra.nombrepiz}}"{% endblock titulo %}
{% block css %}
<link href="{% static "css/vistaPizarra_style.css" %}" rel="stylesheet" type="text/css"/>
{% endblock css %}
{% block botones %}
<a id="crearActividad" onclick="Dajaxice.app_actividad.crearActividadForm(my_js_callbackActividad, {'data': {{pizarra.idpiz}}});" class="opcionesDer" href="#">Crear Actividad</a>
{% endblock botones %}
{% block cuerpo %}
<div id="ventanaActividad" style="display:none"></div>
<div id="formActividad" style="display:none"></div>
<style>
  #formActividad textarea, input[type="text"]{
    width:92%;
    border:1px solid #899caa;
    border-radius:3px;
    -moz-border-radius:3px;
    color:#3a454d;
    font-weight:bold;
    padding:8px 8px;
    box-shadow:inset 0px 1px 3px #bbb;
    -webkit-box-shadow:inset 0px 1px 3px #bbb;
    -moz-box-shadow:inset 0px 1px 3px #bbb;
    font-size:10px;
  }

  .participante{
    background: transparent; 
    border: none; 
    cursor: pointer;
  }

  .participante:hover{
    color: white;
  }
</style>
<script>
</script>
<div id="columna">
  <table>
    <tr>
      <td>
        <h>Pizarra</h></br>
        {{pizarra.nombrepiz}}
      </td>
    </tr>
    <tr>
      <td>
        <h>Creador</h></br>
          <form action="{% url 'app_usuarios:perfil_usuario' %}" method="post">
            {% csrf_token %}
            <input type="hidden" value="{{pizarra.logindueno.username}}" name="usuario"/>
            <input type="submit" class="participante" value="{{pizarra.logindueno.first_name}} {{pizarra.logindueno.last_name}}"/>
          </form>
      </td>
    </tr>
    <tr>
      <td>
        <h>Descripcion</h></br>
        {{pizarra.descripcionpiz}}
      </td>
    </tr>
    <tr>
      <td>
        <h>Fecha de inicio</h></br>
        {{pizarra.fechacreacion}}
      </td>
    </tr>
      <td>
        <h>Fecha de finalizacion</h></br>
        {{pizarra.fechafinal}}
      </td>
    </tr>
    <tr>
      <td>
        <div id="lista">
          <h>Participantes</h></br>
          {%for elem in colaboradores %}
          <form action="{% url 'app_usuarios:perfil_usuario' %}" method="post">
            {% csrf_token %}
            <input type="hidden" value="{{elem.username}}" name="usuario"/>
            {% ifnotequal elem.first_name "" %}
            {% ifnotequal elem.last_name "" %}
            <input type="submit" class="participante" value="{{elem.first_name}} {{elem.last_name}}"/>
            {%endifnotequal%}
            {%endifnotequal%}
            {% ifequal elem.first_name "" %}
            {% ifequal elem.last_name "" %}
            <input type="submit" class="participante" value="{{elem.username}}"/>
            {%endifequal%}
            {%endifequal%}
          </form>
          </br>
          {%endfor%}
        </div>
      </td>
    </tr>
  </table>
</div>
<div id="arbol">
  <div id="vistas" style="">
    Vistas...
  </div>

  <div id="vistasDropDown" style="" >
    <form action="{% url 'app_pizarras:visualizar_pizarra' %}" method="post">
      {% csrf_token %}
      <input type="hidden" name="idpiz" value="{{pizarra.idpiz}}"/>
      <input type="submit" value="Jerarquica"/>
    </form>
    <form action="{% url 'app_pizarras:orden_cronologico' %}" method="post">
      {% csrf_token %}
      <input type="submit" value="Cronologica"/>
      <input type="hidden" name="idpiz" value="{{pizarra.idpiz}}"/>
    </form>
    <form action="{% url 'app_pizarras:orden_estados' %}" method="post">
      {% csrf_token %}
      <input type="submit" value="Por estado"/>
      <input type="hidden" name="idpiz" value="{{pizarra.idpiz}}"/>
    </form>
    <form action="{% url 'app_pizarras:orden_avance' %}" method="post">
      {% csrf_token %}
      <input type="submit" value="Por avance"/>
      <input type="hidden" name="idpiz" value="{{pizarra.idpiz}}"/>
    </form>
  </div>
  <form action="{% url 'app_actividad:visualizar_actividad' %}" id="visualizarActividad" method="post">
    {% csrf_token %}
    <input id="inputAct" type="hidden" value="abc" name="idact"/>
  </form>
  <div id="log"></div>
</div>
{% endblock cuerpo%}
