{% extends "app_usuarios/template.html" %}
{% load url from future %}
{% load staticfiles %}
{% block titulo %}Inicio de sesion{% endblock %}
{% block botones %}{%endblock%}
{% block cuerpo %}
<div id="loginBox">
	<h1 style="color:black;">Iniciar sesion</h1>
	<form action="{% url 'login_usuario' %}" method="post" id="loginForm">
		<fieldset id="body">
			<fieldset>
				{% csrf_token %}
				{{ form.as_p }}
			</fieldset>
			<input type="submit" value="Ingresar" id="login"/>
		</fieldset>
	</form>
</div>
{% endblock cuerpo %}
