<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    {% load staticfiles %}
    <title>{% block titulo %}Proyecto de pizarras{% endblock %}</title>
    <link href="{% static "css/template_style.css" %}" rel="stylesheet" type="text/css"/>
    <link href="{% static "css/pared_style.css" %}" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="{% static "javascript/jquery-1.8.2.min.js"%}"></script>
    <script type="text/javascript" src="{% static "javascript/jquery-ui-1.9.1.custom.min.js"%}"></script>
    <script type="text/javascript" src="{% static "javascript/jquery-ui-1.9.1.custom.js"%}"></script>
    {% block css %}{% endblock css %}
  </head>

  <body>
    <div id="topBorde"></div>
    <div id="borde">
      <div id="header">
        <a href="./pared.html"><img id="logo" src="{% static "images/logo_front.png" %}"/></a>
        <div id="headBar">
          {% block botones %}
          <a class="button" href="{% url app_pizarras:crear_pizarra %}">Crear Pizarra</a>
          <a class="button" href="{% url app_pizarras:listar_pizarra %}">Ver Pizarras</a>
          {% block botonAdmin %}
          <a class="button" href="{% url app_usuarios:listar_usuarios %}">Gestionar Usuario</a>
            <a class="button" href="{% url app_usuarios:modificar_perfil %}">Configurar Perfil</a>
            <a class="button" href="{% url app_usuarios:logout_view %}">Cerrar Sesion</a>
            {% endblock botonAdmin %}
            {% endblock botones%}
          </div>
        </div>

        <div id="main">
          {% block cuerpo %}{% endblock %}
        </div>	

        <div id="footer">
        </div>
      </div>
    </body>
  </html>
