{% extends "app_usuarios/template.html" %}
{% load url from future }
{% block titulo %}Listar usuarios{% endblock titulo %}
{% block cuerpo %}
{% block javascript %}
{% endblock javascript %}

<table class="tabla">
  <tr>
    <th style="width:200px !important;">Nombre de usuario</th>
    <th>Nombre</th>
    <th>Apellido</th>
    {% if perms.app_usuarios.change_userprofile %} 
    <th>Modificar</th>
    {% endif %}
    {% if perms.app_usuarios.delete_userprofile %}
    <th>Eliminar</th>
    {% endif %}
  </tr>
  {% for objeto in lista%}
  <tr>
    <td>
      {{objeto.username}}
    </td>
    <td>
      {{objeto.first_name}}
    </td>
    <td>
      {{objeto.last_name}}
    </td>
    <td>
      <form action="{% url app_usuarios:modificar_form %}" onsubmit="return false;" method="post">
        {% csrf_token %}
        {% if perms.app_usuarios.change_userprofile %}
          <button type="submit" class="modificarUsuario" onclick="Dajaxice.app_usuarios.modificarUsuarioAjax(my_js_callbackModificarUsuario, {'nombre_usuario' : {{objeto.id}}});">Modificar</button>
        {% endif %}
      </form>
    </td>
    <td>
      {% if perms.app_usuarios.delete_userprofile %}
      <form action="{% url app_usuarios:eliminar_usuario %}" method="post" onsubmit="if (!confirm('Seguro desea elimimar este usuario?')) return false">
        {% csrf_token %}
        <input name="nombre_usuario" type="hidden" value="{{objeto.username}}"/>
        <input type="submit" value="Eliminar"/>
      </form>
      {% endif %}
    </td>
  </tr>
  {% endfor %}
</table>
</br>
{% if perms.app_usuarios.change_userprofile %}
<button id="crearUsuario" onclick="Dajaxice.app_usuarios.crearUsuarioAjax(my_js_callbackUsuario);" style="cursor:pointer;">Crear Usuario</button>
{% endif %}
{% endblock cuerpo %}
