{% extends "app_usuarios/template.html" %}
{% load url from future }
{% block titulo %}Listar usuarios{% endblock titulo %}
{% block cuerpo %}
{% block javascript %}
{% endblock javascript %}

<div id="dialogCrearUsuario"></div>
<table class="tabla">
  <tr>
    <th style="width:200px !important;">Nombre de usuario</th>
    <th>Nombre</th>
    <th>Apellido</th>
    {% if puede_modificar %} 
    <th>Modificar</th>
    {% endif %}
    {% if puede_eliminar %}
    <th>Eliminar</th>
    {% endif %}

  </tr>
  {% for object in lista%}
  <tr>
    <td>
      {{object.username}}
    </td>
    <td>
      {{object.first_name}}
    </td>
    <td>
      {{object.last_name}}
    </td>
    <td>
      <form action="{% url app_usuarios:modificar_form %}" method="post">
        {% csrf_token %}
        <input id="id_nombre_usuario" name="nombre_usuario" type="hidden" value="{{object.username}}"/>
        <input id="id_nombre" name="nombre" type="hidden" value="{{object.first_name}}"/>
        <input id="id_apellido" name="apellido" type="hidden" value="{{object.last_name}}"/>
        <input id="id_correo" name="correo" type="hidden" value="{{object.email}}"/>
        {% if puede_modificar %}
        <input type="submit" value="Modificar"/>
        {% endif %}
      </form>
    </td>
    <td>
      {% if puede_eliminar %}
      <form action="{% url app_usuarios:eliminar_usuario %}" method="post" onsubmit="if (!confirm('Seguro desea elimimar este usuario?')) return false">
        {% csrf_token %}
        <input name="nombre_usuario" type="hidden" value="{{object.username}}"/>
        <input type="submit" value="Eliminar"/>
      </form>
      {% endif %}
    </td>
  </tr>
  {% endfor %}
</table>
</br>
<button id="crearUsuario" onclick="Dajaxice.app_usuarios.crearUsuarioAjax(my_js_callbackUsuario);" style="cursor:pointer;">Crear Usuario</button>
{% endblock cuerpo %}
