{% extends "app_usuarios/template.html" %}
{% load url from future %}
{% load staticfiles %}
{% block titulo %}Reestablecimiento de clave{% endblock titulo %}
{% block css %}
<link href="{% static "css/inicio_style.css" %}" rel="stylesheet" type="text/css"/>
<link href="{% static "css/recuperar_styling.css" %}" rel="stylesheet" type="text/css"/>
{% endblock css %}
{% block herramientas %}
<div id="herramientas">
</div>
{% endblock herramientas %}

{% block cuerpo %}
<center>
  <div id="recuperarBox" > 
    <form action="" id="loginForm" method="post">  

      <form action="" method="post">
        {% csrf_token %}
        {{ form.email.errors }}
        <fieldset id="body">
         
          <p>¿Olvido su clave? Introduzca su direccion de correo</p> 
          <p><label for="id_email">Direccion de correo</label> {{ form.email }} <input type="submit" id="botonReestablecer" value="Reestablecer mi contrasena" /></p>
        </fieldset>
      </form>
    </form>
  </div>
</center>
{% endblock %}