<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    {% load staticfiles %}
    {% load dajaxice_templatetags %}
    {% dajaxice_js_import %}
    <title>
      {% block titulo %}
      Proyecto de pizarras
      {% endblock titulo%}
    </title>
    <!-- CSS -->
    <link href="{% static "css/template_style.css" %}" rel="stylesheet" type="text/css"/>
    <link href="{% static "css/pared_style.css" %}" rel="stylesheet" type="text/css"/>
    <link href="{% static "css/style_dialog.css" %}" rel="stylesheet" type="text/css"/>
    <link href="{% static "css/calendario.css" %}" rel="stylesheet" type="text/css"/>
    {% block css %}
    {% endblock css %}
    <!-- JAVASCRIPT -->
    <script type="text/javascript" src="{% static "javascript/jquery-1.8.2.min.js"%}"></script>
    <script type="text/javascript" src="{% static "javascript/jquery-ui-1.9.1.custom.min.js"%}"></script>
    <script type="text/javascript" src="{% static "javascript/jquery-ui-1.9.1.custom.js"%}"></script>
    <script type="text/javascript" src="{% static "javascript/validaciones.js"%}"></script>
    <script type="text/javascript" src="{% static "javascript/funciones.js"%}"></script>
    <script type="text/javascript" src="{% static "javascript/arbol.js"%}"></script>
    <script type="text/javascript" src="{% static "javascript/jit.js"%}"></script>
    <!-- Bloques para javascript y css particulares-->
    {% block javascript %}
    <script>
      $(document).ready(function(){
        dialog();
        barraUsuario();
        $("#vistasDropDown").hide();
        $("#vistas").click(function(){
          $("#vistasDropDown").toggle();
        });
      });
    </script>
    {% endblock javascript %}
  </head>

  <body onload="
    var arbol = document.getElementById('stringJson').value;
    init(arbol);" >
    <input type="hidden" id="stringJson" value="{{arbol}}"/>
    <!-- borde es el contenedor de la pagina-->
    <div id="borde">
      <!-- Encabezado de la pagina-->
      <div id="header">
        <a href="{% url app_pizarras:listar_pizarra %}"><img id="logo" src="{% static "images/logo_front.png" %}"/></a>
        {% block rightHeader %}
        {% if user.is_authenticated %}
        <div id="nombre">
          {{user.first_name}} {{user.last_name}}
        </div>
        {% endif %}
        {% endblock rightHeader %}
      </div>
      <!-- -->
      <div id="main">

        {% block herramientas %}

        <div id="herramientas">
          <a id="crearPizarra" onclick="Dajaxice.app_pizarras.crearPizarraForm(my_js_callbackPizarra);" class="opcionesDer" href="#">Nueva Pizarra</a>
          <a id="mis_pizarras" class="opcionesDer" href="{% url app_pizarras:listar_pizarra%}">Mis pizarras</a>
          <a id="listarUsuarios" class="opcionesDer" href="{% url app_usuarios:listar_usuarios%}">Listar usuarios</a>
          {% block botones %}{% endblock botones %}
        </div>
        <div id="opcionesUsuario">
          <div class="opcionVer">
            <a  href="{% url app_log:visualizar_log_user %}"> Visualizar Log</a>
          </div>
          <div class="opcionVer"><a href="{% url app_pizarras:listar_pizarra %}">Mis pizarras</a></div>
          <div class="opcionVer"><a id="editarPerfil" onclick="Dajaxice.app_usuarios.editarPerfilAjax(my_js_callbackPerfil);" href="#">Editar Perfil</a></div>
          <div class="opcionVer"><a id="cambiarContrasena" onclick="Dajaxice.app_usuarios.cambiarContrasenaAjax(my_js_callbackContrasena);" href="#">Cambiar Contrasena</a></div>
          <div class="opcionVer"><a href="{% url app_usuarios:logout_view %}">Cerrar Sesion</a></div>
        </div>
        {% endblock herramientas %}
        {%block dialogs %}
        <div id="formPizarra" style="display:none;"></div>
        <div id="dialogCambiarContrasena" style="display:none;"></div>
        <div id="dialogModificarUsuario" style="display:none;"></div>
        <div id="dialogEditarPerfil" style="display:none;"></div>
        <div id="dialogModificarPizarra" style="display:none;"></div>
        <div id="dialogModificarActividad" style="display:none;"></div>
        <div id="dialogCrearUsuario"></div>
        {%endblock dialogs%}
        {% block cuerpo %}
        {% endblock cuerpo %}
      </div>	

      <!--<div id="footer">
        <div id="ano"><a href="">2012 ©</a></div>
        <div id="idioma"><a href="#">Español</a>  |  <a href="#">English</a></div>
      </div>-->
    </div>
  </body>
