/*cuadros de proyectos*/
#pared {
	overflow: auto;
	margin-top: 20px;
	margin-bottom: 20px;
}

a {
	text-decoration: none;
}

#herramientas {
	height: 40px;
	width: 100%;
	border: solid #bbb;
        border-width: 0px 0px 1px 0px;
	background: #378B6E;
}

/*Division de cuadro de proyectos y titulos*/
.pizarra {
  margin: 10px;
  margin-top: 30px;
  width: 408px;
  height: 108px;
  border: 8px solid transparent;
  background-image: url("../images/pared/pizarra.png");
  background-position: -8px;
}

.pizarra:hover{
  background-image: url("../images/pared/pizarraH.png");
}

.pizarra #titulo {
  width: 100%;
  height: 25px;
  font-size: 20px;
  white-space: nowrap;
  overflow: hidden;
  color: white;
  text-align: center;

  -o-text-overflow: ellipsis;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

.pizarra #content {
  color: white;
  margin: auto;
  padding: 0px 14px 0px 14px;
  width: 380px;
  height: 80px;
  text-align: justify;
  overflow-y: auto;
  font-family: Helvetica, fantasy;
}

.borrar{
  float: right;
  cursor: pointer;
  width: 25px;
  height: 25px;
  background: transparent;
  border: none;
  background-image: url('../images/closePiz.png');
  background-repeat: no-repeat;
}

.modi{
  cursor: pointer;
  display: block;
  margin-left: 383px;
  width: 25px;
  height: 25px;
  background-image: url('../images/pencil.png') !important;
  z-index: 1000;
}

.formEliminar{
  height: 25px;
  margin-bottom: 0px;
}

/*Barra navegacion entre paredes*/
#nav {
	bottom: 60px;
	position: absolute;
	margin-left: 50px;
	margin-right: 50px;
	height: 25px;
	width: 750px;
	border-bottom: solid 1px #999;
}

#nav .pestana {
	float: left;
	width: 50px;
	height: 100%;
	background-image: url('../images/pared/pestanaverdepequena.png');
}

#nav .pestana p {
	margin-top: 5px;
	margin-left: 20px;
}

#nav p {
	color: black;
}

/*forms*/
#pizarraForm fieldset{
  border: none;
}

#pizarraForm input[type="text"]{
  border: 1px solid #A6A6CF;
  width: 230px;
}

#pizarraForm textarea{
  border: 1px solid #A6A6CF;
  width: 230px;
  height: 100px;
  
}

/*forms*/

#usuarioForm fieldset{
  border: none;
}

#usuarioForm input[type="text"], #usuarioForm input[type="password"]{
  border: 1px solid #A6A6CF;
  width: 230px;
}

#usuarioForm textarea{
  border: 1px solid #A6A6CF;
  width: 230px;
  height: 100px;
  
}
/*End forms*/
