/*Styling recuperar contraseña*/

/*Division de los datos*/
#Recuperar{
	margin: 0px 0px 0px 100px;
	width: 450px;
	height: 500px;
}
#datos{
	width: 300px;
	height: 200px;
	padding-top: 50px;
	margin-left: 180px;
}

#datos input{
	width: 85%;
	margin: 10px;
	
}
#datos #Enviar{
	 width:90px;
    float:right;
    background:#52CCA3;
    color:#fff;
    padding:7px 10px 8px 10px;
    text-shadow:0px -1px #278db8;
    border:1px solid #339cdf;
    box-shadow:none;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    margin:50px 12px 0 0;
    cursor:pointer;
    *padding:7px 2px 8px 2px; /* IE7 Fix */
}
#modificar{
	padding-top: 100px;
	padding-left: 80px; 
	font-family: Helvetica;
	font-style: italic;
	font-weight: 200;
	font-size: 30px;
}


#aclaratoria{
	font-size: 12px;
	padding-top: 50px;
	width: 600px;
}

#recuperarForm {
  width: 400px;
  border:1px solid #899caa;
  border-radius:3px 3px 3px 3px;
  -moz-border-radius:3px 3px 3px 3px;
  background:#378B6E;
  padding:8px;
  float: center;
  display: block;
  overflow: hidden;
  opacity:0.8;
  filter:alpha(opacity=60); /* Para IE8*/
  font-size: 16px;
  margin-top: 40px;
  margin-right: 0px;
}

#recuperarDoneForm {
  width: 280px;
  border:1px solid #899caa;
  border-radius:3px 3px 3px 3px;
  -moz-border-radius:3px 3px 3px 3px;
  background:#378B6E;
  padding:8px;
  float: center;
  display: block;
  overflow: hidden;
  opacity:0.8;
  filter:alpha(opacity=60); /* Para IE8*/
  font-size: 16px;
  margin-top: 40px;
  margin-right: 0px;
}

#loginForm #botonReestablecer {

  width:160px;
  float:right;
  background:#378B6E;
  color:#fff;
  padding:7px 10px 8px 10px;
  text-shadow:0px -1px #278db8;
  border:1px solid #378B6E;
  box-shadow:none;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  margin:10 22px 0 0;
  cursor:pointer;
 *padding:7px 2px 8px 2px; /* IE7 Fix */
}

#recuperarBox { 
  float: center;
  display: block;
  overflow: hidden;
  opacity:0.8;
  filter:alpha(opacity=60); /* Para IE8*/
  font-size: 15px;
  margin-top: 40px;
  margin-right: 0px;
}

#recuperarDoneForm #botonInicio {

  width:140px;
  float:right;
  background:#378B6E;
  color:#fff;
  padding:7px 10px 8px 10px;
  text-shadow:0px -1px #278db8;
  border:1px solid #378B6E;
  box-shadow:none;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  margin:5 44px 0 0;
  font-size: 12px;
  cursor:pointer;
 *padding:7px 2px 8px 2px; /* IE7 Fix */
}