/*cuadros de proyectos*/
#pared {
	overflow: auto;
  margin: auto;
	margin-top: 20px;
	margin-bottom: 40px;
}

a {
	text-decoration: none;
}

#herramientas {
	height: 40px;
	width: 100%;
	border: solid #bbb;
        border-width: 0px 0px 1px 0px;
	background: #378B6E;
}

.mostrar {
    background: #378B6E;
    color: #ffffff
}

.detalles{
    background: #ffffff;
    width: 380px;
}

/*Division de cuadro de proyectos y titulos*/
.pizarra {
  cursor: default;
  margin: 10px;
  margin-top: 20px;
  width: 358px;
  height: 108px;
  border: 8px solid transparent;
  background-image: url("../images/pared/pizarra.png");
  background-position: -8px;
}

.pizarra:hover{
  background-image: url("../images/pared/pizarraH.png");
}

.pizarra #cabeza {
  width: 100%;
  height: 25px;
  font-size: 20px;
  white-space: nowrap;
  overflow: hidden;
  color: white;
  text-align: center;

  -o-text-overflow: ellipsis;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

.pizarra #titulo {
  width: 288px;
  float: left;
}

.pizarra #content {
  color: white;
  margin: auto;
  padding: 0px 14px 0px 14px;
  width: 330px;
  height: 80px;
  text-align: justify;
  overflow-y: auto;
  font-family: Helvetica, fantasy;
}

.borrar, .modi{
  float: right;
  cursor: pointer;
  width: 25px;
  height: 25px;
  background: transparent;
  border: none;
}

.borrar {
  background-image: url('../images/closePiz.png');
  background-repeat: no-repeat;
}

.modi{
  background-image: url('../images/pencil.png');
  background-size: 25px 25px;
  background-repeat: no-repeat;
}

/*navegacion entre paredes*/
.prevPage, .nextPage {
  position: absolute;
  top: 350px;
  display: block !important;
}

.prevPage{
  left: 10px;
}

.nextPage{
  right: 10px;
}

/*forms*/
#pizarraForm fieldset{
  border: none;
}

#pizarraForm input[type="text"]{
  border: 1px solid #A6A6CF;
  width: 230px;
}

#pizarraForm textarea{
  border: 1px solid #A6A6CF;
  width: 230px;
  height: 100px;
  
}

/*forms*/

#usuarioForm fieldset{
  border: none;
}

#usuarioForm input[type="text"], #usuarioForm input[type="password"]{
  border: 1px solid #A6A6CF;
  width: 230px;
}

#usuarioForm textarea{
  border: 1px solid #A6A6CF;
  width: 230px;
  height: 100px;
  
}
/*End forms*/

/* GROUP 2 */
/* Tablets (portrait)*/

@media only screen and (max-width : 899px) {

/*Reglas para la parte de arriba*/

	#herramientas {
		height: 35px;
		font-size: 14px;
	}

}

/* GROUP 3 */
/* Smartphones (landscape)*/

@media only screen and (max-width : 480px) {

	#herramientas {
		height: 27px;
		height: 20px;
		font-size: 12px;
	}

	.mostrar {
		font-size: 12px;
	} 	EN: pared_style.css

	.detalles {
		font-size: 12px;
	}

    .pizarra {
    		background-image: none;
            background-color:378B6E;
            max-width:200px;
	}

    .pizarra:hover{
    	    background-image: none;
            background-color:378B6A;
            max-width:200px;

	}

    .nextPage {
        right:0px;
        }

    .prevPage{
        left:0px;
        }
    .pizarra #conten{
        max-width:80%;
        }

}

/* GROUP 4 */
/* Smartphones (portrait)*/

@media only screen and (max-width : 320px) {

/*Reglas para la parte de detalles de la pizarra*/

	.mostrar {
		font-size: 10px;
	}

	.detalles font {
		font-size: 10px;
	}

    #pizarraForm input[type="text"]{
      width: 60%;
    }

    #pizarraForm textarea{
      width: 60%;
    }

    #modificarPizarraForm input[type="text"]{
      width: 60%;
    }

    #modificarPizarraForm textarea{
      width: 60%;
    }

    .pizarra {
    		background-image: none;
            background-color:378B6E;
            max-width:200px;
	}

    .pizarra:hover{
    	    background-image: none;
            background-color:378B6A;
            max-width:200px;

	}

    .nextPage {
        right:0px;
        }

    .prevPage{
        left:0px;
        }
    .pizarra #conten{
        max-width:80%;
        }

}