{% extends "app_usuarios/template.html" %}
{% load url from future %}
{% load staticfiles %}
{% load tags_pizarra %}
{% block titulo %}Asignar actividad{% endblock %}
{% load url from future %}

<link href="{% static "css/inicio_style.css" %}" rel="stylesheet" type="text/css"/>

{% block cuerpo %}
  {% if form.errors %}
    <h1> No se pudo Asignar la actividad</h1>
  {% endif %}
  <div id="loginBox">
    <br><br><br><br>
    <form action="{% url 'app_actividad:invitar_usuario' %}" id="loginForm" method="post">
      {% csrf_token %}
      <fieldset id="body">
        <input type="hidden" name="idact" value="{{idact}}" />
        <input type="hidden" name="idpiz" value="{{idpiz}}" />
        <fieldset>
          <label for="correo"> Introduzca el correo del usuario al que desea asignar la actividad</label>
          <input type="text" name="recipiente" id="recipiente"/>
        </fieldset>
        <input type="submit" id="login" value="Asignar"/>
      </fieldset>
    </form>
  </div>

{% endblock %}
    