{% extends "app_usuarios/template.html" %}
{% load url from future %}
{% load staticfiles %}
{% block titulo %}Actividad "{{actividad.nombreact}}"{% endblock titulo %}
{% block css %}
<link href="{% static "css/vistaPizarra_style.css" %}" rel="stylesheet" type="text/css"/>
{% endblock css %}

{% block botones %}
<a id="crearActividad" onclick="Dajaxice.app_actividad.crearActividadForm(my_js_callbackActividad, {'data': {{pizarra.idpiz}}});" class="opcionesDer" href="#">Crear Actividad</a>
{% endblock botones %}
{% block cuerpo %}

<div id="columna">
  <table>
    <tr>
      <td>
        <h>Nombre</h></br>
        {{actividad.nombreact}}
      </td>
    </tr>
    <tr>
      <td>
        <h>Creador</h></br>
        {{actividad.logincreador}}
      </td>
    </tr>
    <tr>
      <td>
        <h>Descripcion</h></br>
        {{actividad.descripcionact}}
      </td>
    </tr>
    <tr>
      <td>
        <h>Fecha inicial</h></br>
        {{actividad.fechainicial}}
      </td>
    </tr>
    <tr>
      <td>
        <h>Fecha de entrega</h></br>
        {{actividad.fechaentrega}}
      </td>
    </tr>
    <tr>
      <td>
        <!-- modificar actividad -->
        <form action="{% url 'app_actividad:modificar_form' %}" method="post">
          {% csrf_token %}
          <input type="hidden" name="idact" value="{{actividad.idact}}"/>
          <input type="hidden" name="nombreact" value="{{actividad.nombreact}}"/>
          <input type="hidden" name="descripcionact" value="{{actividad.descripcionact}}"/>
          <input type="hidden" name="fechainicial" value="{{actividad.fechainicial}}"/>
          <input type="hidden" name="fechaentrega" value="{{actividad.fechaentrega}}"/>
          <input type="submit" value="Modificar" />
        </form>
      </td>
    </tr>
    <tr>
      <td>
        <!-- cambiar estado -->
        <form name="CambiarEstadoForm" action="{% url 'app_actividad:cambiar_estado_actividad' %}" method="post"> 
          {% csrf_token %}
          <select name="estadoact">
            <option value="null"> Estado </option>
            <option value="s"> Sin Asignar </option>
            <option value="c"> Completada </option>
            <option value="r"> Retrasada </option>
            <option value="e"> En Ejecucion </option>
            <option value="p"> Postergada </option>
          </select> 
          <input type="hidden" name="idact" value="{{actividad.idact}}"/>
          <input type="submit" value="Cambiar Estado" />
        </form>
      </td>
    </tr>
  </table>
</div>
<div id="comentarios">
  <!-- hacer comentarios -->
  <form action="{% url 'app_comentarios:crear_comentario' %}" id="crear_comentario" method="post">{% csrf_token %}
    <input type="hidden" name="idact" value="{{actividad.idact}}"/>
    <textarea id="contenido" name="contenido"></textarea>
    <input type="submit" value="Comentar"/>
  </form>
</div>
{% endblock cuerpo%} 
