#logofront {
	margin-top: 140px;
	margin-left: 50px;
}

/* begin LoginBox */
#loginBox { 
    margin: 60px 250px 60px 250px;
    display: block;
    width: 420px;
    opacity:0.8;
    filter:alpha(opacity=60); /* Para IE8*/
    font-size: 15px;
}

/* Login Form */
#loginForm {
    width: 400px;
    border:1px solid #899caa;
    border-radius:3px 3px 3px 3px;
    -moz-border-radius:3px 3px 3px 3px;
    background:#46A641;
    padding:8px;
}

#loginForm fieldset {
    margin:0 0 10px 0;
    display:block;
    border:0;
    padding:0;
}

fieldset#body {
    background:#fff;
    border-radius:3px;
    -moz-border-radius:3px;
    padding:10px 13px;
    margin:0;
}


#body label {
    color:#3a454d;
    margin:9px 0 0 0;
    display:block;
}

#loginForm #body fieldset label {
   
    float:none;
    margin:0 0 6px 0;
}

/* Default Input */
#loginForm input {
    width:92%;
    border:1px solid #899caa;
    border-radius:3px;
    -moz-border-radius:3px;
    color:#3a454d;
    font-weight:bold;
    padding:8px 8px;
    box-shadow:inset 0px 1px 3px #bbb;
    -webkit-box-shadow:inset 0px 1px 3px #bbb;
    -moz-box-shadow:inset 0px 1px 3px #bbb;
    font-size:10px;
}

#loginForm textarea {
    width:92%;
    border:1px solid #899caa;
    border-radius:3px;
    -moz-border-radius:3px;
    color:#3a454d;
    font-weight:bold;
    padding:8px 8px;
    box-shadow:inset 0px 1px 3px #bbb;
    -webkit-box-shadow:inset 0px 1px 3px #bbb;
    -moz-box-shadow:inset 0px 1px 3px #bbb;
    font-size:10px;
    margin-right: 10px;
}

/* Boton iniciar sesion */
#loginForm #login {
    width:120px;
    float:right;
    background:#46A641;
    color:#fff;
    padding:7px 10px 8px 10px;
    text-shadow:0px -1px #EBEBEB;
    border:1px solid #EBEBEB;
    box-shadow:none;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    border-radius: 10px;
    margin:0 12px 0 0;
    cursor:pointer;
    padding:7px 2px 8px 2px; /* IE7 Fix */
}

/*end LoginBox*/

/*Titulo*/

#titulo {
    font-family: Helvetica;
    font-size: 30px;
    color: #3A454D;
}

